.help_wrap {
    background: #edf0f5;
}

.help_form:after {
    content: "";
    display: block;
    clear: both;
    *zoom: 1;
}

.help_form h1 {
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #436daf;
    background: #2d333a;
}

.help_nav {
    float: left;
    width: 219px;
    background-color: #3f464f;
}

.help_nav li {
    list-style: none;
    border-bottom: 1px solid #495059;
}

.help_nav li a {
    display: block;
    padding: 10px;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.help_nav li a.active,
.help_nav li a:hover {
    background: #515860;
    color: #fff;
}

.help_nav li ul {
    padding: 10px;
    background-color: #2d333a;
}

.help_nav li li {
    border-bottom: 0;
}

.help_nav li li a {
    padding: 5px 5px 5px 25px;
}

.help_nav li li a.active,
.help_nav li li a:hover {
    color: #fff;
    background: #2d333a;
}

.help_cont {
    padding-left: 219px;
    font-size: 14px;
}

.help_cont .help_cont_dep {
    padding: 20px;
}

.help_cont img {
    width: 100%;
    margin-bottom: 8px;
}

.help_cont .ico_w {
    width: auto;
}

.help_cont strong {
    display: block;
    padding: 25px 20px 25px 40px;
    background: #fff;
    border-bottom: 1px solid #dcdfe4;
}

.help_cont .txt_title {
    padding-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}
